<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!--加载解析配置文件，可以直接给对应的Bean注入值，注入方式为属性注入,调用set方法注入-->
    <context:property-override location="classpath:config/redis-config.properties" />

    <!--Jedis连接池配置-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig"></bean>

    <!--Jedis连接工厂对象-->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:pool-config-ref="poolConfig"/>

    <!--Jedis对缓存操作的模板对象-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <!--配置数据源-->
        <property name="connectionFactory" ref="jedisConnectionFactory" />
    </bean>



</beans>