<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/data/solr
        http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <!--dubbo配置-->
    <!--注册一个应用-->
    <dubbo:application name="pinyougou-search-service" />

    <!--
       对外提供服务暴露的端口
       port：其他应用调用该服务的端口号
       name：其他应用调用该服务所使用的协议
       host：该服务的访问地址
     -->
    <!--<dubbo:protocol port="20882" name="dubbo" host="192.168.73.1" />-->
    <dubbo:protocol port="20882" name="dubbo" />

    <!--注册中心-->
    <dubbo:registry address="zookeeper://192.168.211.128:2181" />

    <!--包扫描，暴露接口信息-->
    <dubbo:annotation package="com.pinyougou.search.service.impl" />

    <!--指定solr地址-->
    <solr:solr-server id="solrServer" url="http://192.168.211.128:28081/solr/collection1" />

    <!-- solr模板，使用solr模板可对索引库进行CRUD的操作 -->
    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg ref="solrServer" />
    </bean>

    <!--引入redis、MQ配置-->
    <import resource="spring-redis.xml" />
    <import resource="spring-mq.xml" />
</beans>