<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.model.Goods" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="default_item_id" property="defaultItemId" jdbcType="BIGINT" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="is_marketable" property="isMarketable" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="caption" property="caption" jdbcType="VARCHAR" />
    <result column="category1_id" property="category1Id" jdbcType="BIGINT" />
    <result column="category2_id" property="category2Id" jdbcType="BIGINT" />
    <result column="category3_id" property="category3Id" jdbcType="BIGINT" />
    <result column="small_pic" property="smallPic" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="type_template_id" property="typeTemplateId" jdbcType="BIGINT" />
    <result column="is_enable_spec" property="isEnableSpec" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, seller_id, goods_name, default_item_id, audit_status, is_marketable, brand_id, 
    caption, category1_id, category2_id, category3_id, small_pic, price, type_template_id, 
    is_enable_spec, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinyougou.model.GoodsExample" >
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pinyougou.model.GoodsExample" >
    <!--
      WARNING - @mbg.generated
    -->
    delete from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.pinyougou.model.GoodsExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update tb_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultItemId != null" >
        default_item_id = #{record.defaultItemId,jdbcType=BIGINT},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isMarketable != null" >
        is_marketable = #{record.isMarketable,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.caption != null" >
        caption = #{record.caption,jdbcType=VARCHAR},
      </if>
      <if test="record.category1Id != null" >
        category1_id = #{record.category1Id,jdbcType=BIGINT},
      </if>
      <if test="record.category2Id != null" >
        category2_id = #{record.category2Id,jdbcType=BIGINT},
      </if>
      <if test="record.category3Id != null" >
        category3_id = #{record.category3Id,jdbcType=BIGINT},
      </if>
      <if test="record.smallPic != null" >
        small_pic = #{record.smallPic,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.typeTemplateId != null" >
        type_template_id = #{record.typeTemplateId,jdbcType=BIGINT},
      </if>
      <if test="record.isEnableSpec != null" >
        is_enable_spec = #{record.isEnableSpec,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update tb_goods
    set id = #{record.id,jdbcType=BIGINT},
      seller_id = #{record.sellerId,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      default_item_id = #{record.defaultItemId,jdbcType=BIGINT},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      is_marketable = #{record.isMarketable,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      caption = #{record.caption,jdbcType=VARCHAR},
      category1_id = #{record.category1Id,jdbcType=BIGINT},
      category2_id = #{record.category2Id,jdbcType=BIGINT},
      category3_id = #{record.category3Id,jdbcType=BIGINT},
      small_pic = #{record.smallPic,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      type_template_id = #{record.typeTemplateId,jdbcType=BIGINT},
      is_enable_spec = #{record.isEnableSpec,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>