<component name="ArtifactManager">
  <artifact type="war" name="spring-security-demo:war">
    <output-path>$PROJECT_DIR$/spring-security-demo/target</output-path>
    <root id="archive" name="spring-security-demo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-security-demo:war exploded" />
    </root>
  </artifact>
</component>